.FContainer {
  border-radius: 0px 0px 30px 30px;
  margin: 0 0 8rem 0;
  overflow: auto;
  box-sizing: border-box;
}

.CardContainer {
  position: relative;
  width: 345px;
  height: fit-content;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 3rem;
}

.clearFog {
  position: absolute;
  width: 345px;
  height: 194px;
  background-color: rgba($color: #000000, $alpha: .5);
  z-index: 3;
  border-radius: 10px 10px 0 0;
}

.Stamp {
  position: absolute;
  transform: translate(-83%, -20%);
  scale: .6;
  z-index: 5;
  pointer-events: none;
}

:root {
  --swiper-pagination-color: #000000;
}